@import "tailwindcss";

*,
*::before,
*::after {
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@theme {
  --color-foreground: #fff;
  --color-background: #070505;
  --color-black: #000;
  --color-dark-gray: #222222;
  --color-blue: #3d88c6;
  --color-light-blue: #13d5f9;
  --color-brown: #775e3f;
  --color-orange: #fe9920;
  --color-dark-orange: #9c6126;
  --color-yellow: #e7bb41;
  --color-red: #d74e09;
  --color-gray: #cac4ce;
  --color-gold: #f1d9ad;
  --font-geist: "Geist", sans-serif;
}

.light {
  --color-background: #cac4ce;
  --color-foreground: #171717;
  --color-blue: #42cafd;
  --color-light-blue: #226ce0;
  --color-black: #fff;
  --color-dark-gray: #f1d9ad;
}

body {
  background: var(--color-background);
}

.font-geist {
  font-family: var(--font-geist), system-ui, sans-serif;
}

.shine-text-pulse {
  animation: shine-text-pulse 2s infinite;
}

@keyframes shine-text-pulse {
  0%,
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8),
      0 0 40px rgba(100, 149, 237, 0.8), 0 0 70px rgba(100, 149, 237, 0.5);
  }
}

#under-construction {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='240' viewBox='0 0 1000 120'%3E%3Crect fill='%23000000' width='1000' height='120'/%3E%3Cg fill='none'%0Astroke='%23171717' stroke-width='25' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
